.sidebar-link img{
  width:20px;
  margin-bottom:4px;
  
}

.sidebar{
  left:0;
  bottom: 0;
  top:50px;
  background-color: white;
  position: fixed;
  width:68px;
  padding-top: 5px;

}

.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link div {
  font-size: 10px;
}